body{
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-container{
  background-color: white;
  width: 300px;
  padding: 10px 20px ;
  border-radius: 20px;
  
  
}

.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.checkbox{
  margin-right: 15px;
}

.btn{
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}